<h1>
	Edit pin
</h1>
<%=image_tag @pin.image.url(:medium )%>
<%= render 'form'%>
<%= link_to "Cancel", pin_path%>



<!-- <div class="col-md-6 col-md-offset-3">
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h1> Edit Pin</h1>
			</div>
		    <div class="panel-body">
			    <strong>Current Image</strong>
			    <br>
		    		<%=image_tag @pin.image.url(:medium )%>
		    	<br>
		    	<%=render 'form' %>
		    </div>
		    </div>
	</div>		
</div> -->



